html {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.main-list {
  max-width: 1200px;
  margin: 0 auto;
  columns: 250px 4;
}

.main-list li h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}
